*{
    margin: 0;
    padding: 0;
}
.logo{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.container{
    
    background-color:#66c9ff;
    display: flex;
    flex-flow:row wrap ;  
    justify-content: stretch;
    border-radius: 35px;
    font-size:0.7m;
}
.container li { 
    list-style-type: none;
}   
.container a:hover{
    color: aliceblue;
} 
.container a {    
    display: inline-block;
    padding: 25px;
    margin:0;
    text-align: center;
    text-decoration: none;
    color:#081421;
    font-weight: bolder;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f5f5f5;
    line-height: 2.8rem;
    font-size: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
}
.outerbox{
    height: 100vh;
    width: 100vw;

}
.innerbox{
    margin:0 auto;
    background-color: #66c9ff;
    color: #081421;
    border: 2px solid black;
    height: 230px;
    width: 470px;
    position: relative;
    top:15%;
    padding:40px 40px ;
    border-radius: 35px;
}
h1{
    margin-bottom: 20px;
    text-align: center;
}
label{
    font-size: 0.9em;
}
input{
    font-size: 0.88em;
}
.buttons{
    padding:4px;
    border-radius: 19px;
    color: #000000;
    background-color:hsl(13, 79%, 72%);
    margin: 10px;
    width: 35%;
    border: none;
}
.buttons:hover{
    background-color:hsl(0, 62%, 85%);
    cursor: pointer;
    animation-name: glow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes glow{
    50%{box-shadow: 5px 5px 15px hsl(292, 95%, 48%);}
}

footer a{
    color:rgb(35, 14, 150);
}
footer{
    padding: right -20px;;
    font-size: 0.9em;
}

.required::after{
    content: '*';
    color: rgb(191, 27, 27);
}